{% extends 'sales/base.html' %}

{% block title %}Order Summary{% endblock %}

{% block content %}
<h2>Your Order</h2>
<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items.all %}
      <tr>
        <td>{{ item.item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>€{{ item.item_price }}</td>
        <td>€{{ item.quantity|mul:item.item_price }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><strong>Total</strong></td>
      <td><strong>€{{ order.total_amount }}</strong></td>
    </tr>
  </tbody>
</table>
{% endblock %}
